.promoBanner {
    background-color: #121212;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.promoBanner ul {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column-reverse;
    text-align: center;
    width: 100%;
}

.promoBanner li {
    cursor: pointer;
    display: flex;
    gap: 5px;
    transition: color 0.3s;
    font-size: 14px;
    letter-spacing: .3px;
}

.promoBanner li:hover {
    color: #FF69B4;
}

.facebook {
    display: none;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s ease;
}

.facebook:hover {
    color: #FF69B4;
    border-color: #FF69B4;
    transform: scale(1.1);
    opacity: 0.9;
}

@media screen and (min-width: 768px) {
    .promoBanner {
        padding: 10px 25px;
    }

    .promoBanner ul {
        gap: 20px;
        flex-direction: row;
        text-align: start;
    }

    .promoBanner li {
        align-items: center;
        gap: 10px;
    }

    .promoBanner li:not(:last-child)::after {
        content: "";
        margin-left: 10px;
        height: 25px;
        width: 0.5px;
        background-color: white;
        display: block;
    }

    .facebook {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}