.BenefitsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 45rem;
    margin: 2rem auto;
}

.BenefitsContainer h1 {
    font-size: 4rem;
    color: var(--color-black);
}

.BenefitsContainer h2 {
    font-size: 2.5rem;
    color: var(--color-secondary);
    font-weight: 300;
}

.BenefitArticlesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 4rem auto;
    justify-content: center;
}

.BenefitArticlesContainer article {
    box-shadow: 0 0 10px 1px rgb(204, 204, 204);
    border-radius: 10px;
    padding: 1rem;
    max-width: 20rem;
    flex-basis: 46%;
}

.BenefitArticlesContainer article h1 {
    font-size: 1.5rem;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.BenefitArticlesContainer article p {
    font-size: 1.2rem;
}

.benefitsIconStyle {
    font-size: 3rem;
    text-shadow: 2px 2px rgb(0, 0, 0);
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.BenefitsHireUs {
    color: var(--color-black);
    background-color: transparent;
    font-size: 2.5rem;
    border: 2px solid var(--color-black);
    border-radius: 10rem;
    padding: 0.5rem 5rem;
    transition-duration: 0.3s;
}
.BenefitsHireUs:hover {
    color: var(--color-primary);
    transform: scale(1.05);
    cursor: pointer;
    background-color: var(--color-black);
    /* box-shadow: 0 0 10px 2px var(--color-primary); */
}
