.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-secondary);
}

.logo span {
    display: none;
}

@media screen and (min-width: 768px) {
    .logo span {
        display: inline-block;
    }
}