.footer {
    background: var(--color-black);
    padding: 30px 0px;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .row {
    width: 100%;
    color: gray;
    font-size: 14px;
    margin: 30px 0;
}

.footer .row:last-of-type {
    margin-bottom: 0;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
    position: relative;
}

.footer .row a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: var(--color-primary);
    height: 2px;
    box-sizing: border-box;
    width: 30px;
    transition: width .4s ease-in-out;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row a:hover::before {
    width: 50px;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

@media (max-width: 720px) {
    .footer {
        text-align: left;
        padding: 30px;
    }

    .footer .row ul li {
        display: block;
        margin: 15px 0px;
        text-align: left;
    }
}