.header {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.headerHome {
    background-color: transparent;
    width: 100%;
    position: absolute;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-secondary);
}

.navigation {
    display: none;
}

.navigation .navigationList {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation .navigationList > li {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-black);
    position: relative;
    padding: 13px 20px;
    cursor: pointer;
}

.navigation .navigationList > li::before {
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: none;
    transition: .1s;
    transition-timing-function: cubic-bezier(.58,.3,.005,1);
}

.navigation .navigationList > li:hover:before {
    border: 3px solid var(--color-black);
}

.itemDropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemDropdown:hover .itemDropdownSubmenu {
    display: block;
}

.itemDropdownSubmenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
}

@media screen and (min-width: 768px) {
    .navigation {
        display: block;
    }
}